<ion-content [fullscreen]="true">

  <ion-list class="login-card-main-div">

    <ion-list class="brand-heading"><h2>SOO HELP</h2></ion-list>

    <ion-list class="person-one"></ion-list>
    <ion-list class="person-two"></ion-list>

    <ion-list class="design-card-transparent">
      <ion-list class="person-three"></ion-list>
      <h1 class="internal-heading">Lets Connect Together.</h1>
      <ion-list class="person-fourth"></ion-list>
      <ion-list class="person-five"></ion-list>

    </ion-list>

    
  </ion-list>



</ion-content>
